.singleUser {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgray;
}

.userLeft {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.userImg {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.followBtn {
  width: 93px;
  background-color: #9ACD32;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.followBtn:hover {
  background-color: #4f6919;
}

.followBtn:disabled {
  background-color: lightgray;
  cursor: auto;
}

.userRight {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.navLink {
  color: #000;
  text-decoration: none;
}

.userName {
  font-size: 18px;
  margin: 0;
}

.userStatus {
  font-size: 14px;
  color: rgb(128, 126, 126);
}

.userCity {
  font-size: 16px;
  color: rgb(128, 126, 126);
}

@media screen and (max-width: 576px) {
  .singleUser {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }

  .userLeft {
    margin-right: 20px;
  }

  .userImg {
    width: 60px;
    height: 60px;
  }
}