.singleComment {
  display: flex;
  padding-left: 70px;
  margin-bottom: 20px;
}

.commentImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.commentMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid lightgray;
}

.commentInfo {
  max-width: 80%;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.commentUserName {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
}

.commentDate {
  margin-bottom: 16px;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: .6;
}

.commentText {
  word-break: break-all;
}

.commentActions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
}

.likeActions {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
}

.commentHeartIcon,
.commentDeleteIcon,
.likesCount {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.commentHeartIcon,
.commentDeleteIcon {
  opacity: .2;
  transition: opacity .2s ease;
}


.commentHeartIcon {
  margin-left: 2px;
  transform: translateY(-1px);
}

.commentHeartIconActive {
  color: #9ACD32;
  opacity: 1;
}

.likesCount {
  font-size: 14px;
  opacity: .6;
}

@media screen and (max-width: 576px) {
  .singleComment {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .commentMain {
    padding-bottom: 8px;
  }

  .commentUserName {
    margin-bottom: 0;
  }

  .commentDate {
    font-size: 12px;
    margin-bottom: 0px;
  }
}


@media (hover: hover) {
  .commentHeartIcon:hover,
  .commentDeleteIcon:hover {
    opacity: 1;
  }
  
}