.loginPage {
  width: 100%;
  padding-top: 40px;
}

.loginInner {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid lightgray;
  background-color: #fff;
  border-radius: 10px;
}

.loginTitle {
  margin-bottom: 40px;
  text-align: center;
  font-size: 28px;
  color: rgba(128, 126, 126, .7);
  letter-spacing: 2px;
}

.form {
  width: 100%;
}

.formInner {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  margin-right: 10px;
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: 16px;
}

.input:focus {
  outline: 1px solid rgba(128, 126, 126, .7);
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked+label::before {
  border-color: #9ACD32;
  background-color: #9ACD32;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #9ACD32;
}

.captchaInner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.captchaImg {
  margin-bottom: 30px;
  border: 1px solid rgba(128, 126, 126, .2);
}

.refreshIcon {
  display: block;
  position: absolute;
  bottom: 60%;
  left: 20px;
  opacity: .6;
  transition: opacity .2s ease;
  cursor: pointer;
}

.captchaInput {
  width: 80%;
}

.buttonInner {
  text-align: center;
}

.button {
  padding: 6px 24px;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
  background-color: #9ACD32;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color .2s ease;
}

.button:disabled {
  background-color: lightgray;
  cursor: default;
}

.invalidData {
  width: fit-content;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 18px;
  color: red;
}

@media screen and (max-width: 768px) {
  .loginInner {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .button {
    width: 60%;
  }
}

@media (hover: hover) {
  .refreshIcon:hover {
    opacity: 1;
  }

  .button:hover {
    background-color: #4f6919;
  }

}