.error {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.error p {
  display: block;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  margin-right: 10px;
  word-wrap: break-word;
  color: red;
}

@media screen and (max-width: 576px) {
  .error p {
    font-size: 14px;
  }
}