.userName {
  font-size: 22px;
  color: #fff;
  letter-spacing: 1px;
  margin-right: 20px;
}

.logout {
  display: flex;
  align-items: center;
}

.login,
.logoutBtn {
  cursor: pointer;
  transition: transform .2s ease;
}

.login {
  padding: 6px 20px;
  background-color: #fff;
  border: none;
  border-radius: 2px;
}

.login:hover,
.logoutBtn:hover {
  transform: scale(1.2);
}

.loginLink {
  font-size: 18px;
  color: rgba(128, 126, 126, .8);
  letter-spacing: 1px;
  text-decoration: none;
  transition: color .2s ease;
}

.loginLink:hover {
  color: rgba(128, 126, 126, 1);
}