.profileInfo {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
}

.profileInfoLeft {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profileMainInfo {
  width: 100%;
}

.userInfo {
  width: auto;
  margin-bottom: 40px;
}

.profileAvatar {
  width: 240px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.followBtn {
  background-color: #9ACD32;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.followBtn:hover {
  background-color: #4f6919;
}

.followBtn:disabled {
  background-color: lightgray;
  cursor: auto;
}

.userName {
  font-size: 26px;
  color: rgb(128, 126, 126);
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 4px;
}

.profileDetails {
  padding-top: 10px;
  border-top: 1px solid rgba(128, 126, 126, .6);
}

.infoDetails {
  margin-bottom: 4px;
  font-size: 16px;
  color: #000;
}

.statusDetails {
  margin-bottom: -2px;
}

.infoTitle {
  font-size: 16px;
  color: rgb(128, 126, 126);
  margin-right: 12px;
}

.jobIcon {
  transform: translateY(6px);
}