.profileInfo {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid lightgray;
}

.profileInfoLeft {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profileMainInfo {
  width: 100%;
}

.userInfo {
  width: auto;
  margin-bottom: 40px;
}

.profileAvatar {
  width: 240px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.followBtn {
  background-color: #9ACD32;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  color: #fff;
  margin-top: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.followBtn:hover {
  background-color: #4f6919;
}

.followBtn:disabled {
  background-color: lightgray;
  cursor: auto;
}

.link {
  text-decoration: none;
  color: #fff;
}

.userName {
  font-size: 26px;
  color: rgb(128, 126, 126);
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 4px;
}

.profileDetails {
  padding-top: 10px;
  border-top: 1px solid rgba(128, 126, 126, .6);
}

.infoDetails {
  margin-bottom: 4px;
  font-size: 16px;
  color: #000;
}

.statusDetails {
  margin-bottom: -2px;
}

.infoTitle {
  font-size: 16px;
  color: rgb(128, 126, 126);
  margin-right: 12px;
}

.jobIcon {
  transform: translateY(6px);
}

@media screen and (max-width: 768px) {
  .userName {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {

  .profileInfo {
    flex-direction: column;
  }

  .profileInfoLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    margin-right: 0;
  }

  .profileAvatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .followBtn {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .profileAvatar {
    width: 200px;
    height: 200px;
  }

  .followBtn {
    width: 60%;
  }
}