.dialogs {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid lightgray;
}

.dialogsItemsInner {
  height: 88%;
  overflow-y: auto;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.buttonInner {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.button {
  width: 160px;
  padding: 8px;
  background-color: #9ACD32;
  border: none;
  border-radius: 6px;
  color: #fff;
  transition: background-color .2s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #4f6919;
}

.button:disabled {
  background-color: lightgray;
  cursor: default;
}

@media screen and (max-width: 576px) {
  .dialogs {
    min-height: fit-content;
    max-height: 600px;
  }

  .button {
    font-size: 16px;
  }
}