.nav {
  width: 20%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 20px;
  background-color: #9ACD32;
  border-radius: 10px;
}

.nav div {
  margin-bottom: 10px;
}

.link,
.settingsLink {
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  transition: text-decoration .2s ease;
}

.link:hover,
.settingsLink:hover {
  text-decoration: underline;
}

.messages {
  margin-right: 8px;
}

.messagesCount {
  font-weight: bold;
}

.separatedDiv {
  margin-top: 30px;
}