.followingGroup {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.following {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  overflow: hidden;
  border-bottom: 1.5px solid lightgray;
}

.followingTitle {
  margin-bottom: 26px;
  font-size: 20px;
  color: rgb(128, 126, 126, .7);
  letter-spacing: 1px;
}