.users {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.usersInner {
  width: 80%;
  margin: 0 auto;
}

.usersTitle {
  margin-bottom: 26px;
  font-size: 20px;
  color: rgb(128, 126, 126, .7);
  letter-spacing: 2px;
}

.showMore {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.showMoreButton {
  background-color: #9ACD32;
  padding: 10px 28px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color .2s ease;
}

@media screen and (max-width: 576px) {

  .users {
    padding-bottom: 0;
  }

  .usersInner {
    width: 92%;
  }

  .usersTitle {
    margin-bottom: 16px;
  }

  .showMore {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (hover: hover) {
  .showMoreButton:hover {
    background-color: #4f6919;
  }
}