.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 20px;
  background-color: #9ACD32;
  border-radius: 10px;
}

.logoInner {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  margin-right: 30px;
}

.name {
  font-size: 28px;
  color: #fff;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}