.link {
  text-decoration: none;
  color: #000;
}

.dialogsItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
}

.hasNewMessages {
  background-color: rgba(128, 126, 126, .1);
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  margin-bottom: 16px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.date {
  font-size: 14px;
  opacity: .6;
}

.messagesCount {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  padding: 0 6px;
  border-radius: 50%;
  background-color: #9ACD32;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 360px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
  }
}