.comments {
  height: 0;
  visibility: hidden;
  display: flex;
  align-items: flex-start;
  padding-left: 70px;
}

.commentsFormImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.commentsForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.commentsForm div {
  width: 100%;
}

.commentsTextarea {
  width: 95%;
  padding-top: 6px;
  padding-left: 10px;
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 10px;
  border-radius: 6px;
  resize: none;
}

.commentsTextarea:focus {
  border: none;
  outline: 1px solid rgb(223, 221, 221);
}

.error {
  color: red;
  padding-left: 10px;
}

.sendCommentButton {
  width: 5%;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sendCommentButton:disabled .sendIcon {
  opacity: .2;
  cursor: default;
}

.sendIcon {
  width: 26px;
  height: 26px;
  margin-left: auto;
  color: rgb(0, 0, 0);
  opacity: .4;
  transition: opacity .2s ease;
}

.sendIcon:hover {
  opacity: 1;
}