.status {
  margin-bottom: 20px;
}

.statusText {
  letter-spacing: 1px;
  opacity: .9;
}

.form {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.formInner {
  width: 80%;
  height: 100%;
}

.input {
  width: 98%;
  height: 100%;
  padding: 3px;
  margin-right: 6px;
  border: 1px solid rgba(128, 126, 126, .7);
  border-radius: 6px;
}

.input:focus {
  outline: 1px solid rgba(128, 126, 126, .7);
}

.error {
  color: red;
  padding-left: 3px;
}

.button {
  padding: 4px 18px;
  height: 100%;
  color: #fff;
  background-color: #9ACD32;
  border: none;
  border-radius: 6px;
  transform: translateY(1px);
  cursor: pointer;
  transition: background-color .2s ease;
}

@media screen and (max-width: 576px) {
  .status {
    margin-bottom: 10px;
  }
}

@media (hover: hover) {
  .button:hover {
    background-color: #4f6919;
  }
}