.singleMessage {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.notViewed {
  background-color: rgba(128, 126, 126, .1);
}

.messageImg {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.messageMain {
  width: 100%;
}

.messageInfo {
  width: 100%;
  display: flex;
  align-items: center;
}

.messageUserName {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

.messageDate {
  font-size: 14px;
  opacity: .6;
}

.messageText {
  font-size: 16px;
  opacity: .9;
  word-wrap: break-word;
}

.messageDeleteIcon {
  color: rgb(0, 0, 0);
  opacity: .2;
  margin-left: auto;
  cursor: pointer;
  transition: opacity .2s ease;
}

.messageDeleteIcon:hover {
  opacity: 1;
}

@media screen and (max-width: 576px) {
  .singleMessage {
    margin-bottom: 4px;
  }
}