.App {
  width: 1000px;
  margin: 0 auto;
}

.appInner {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: fit-content;
}

.active {
  font-weight: bold;
  font-size: 20px;
}